.color {
    width: 20px;
    height: 20px;
}

.gap {
    gap: 25px;
}

.card-img-container {
    width: 100%;
    height: 180px;
    .card-img-top {
        object-fit: fill;
        height: 100%;
        width: 100%;
    }
}

.card {
    overflow: hidden;
    border-radius: 10px;
    border: none;
}

#bears-list {
    
    .card {
        border: 2px rgba(255, 255, 255, 0) solid;
        transition: opacity 0.6s ease-out, transform 0.6s ease-out, box-shadow 0.35s ease-out;
        width: 250px;
        &:focus, &:hover {
            border: 2px $primary solid;
            transition: box-shadow 0.35s ease-out;
            box-shadow: 10px 12px 10px 1px rgba(0,0,0,0.42);
        }
    }
    .focused {
        border: 2px $primary solid;
        transition: box-shadow 0.35s ease-out;
        box-shadow: 10px 12px 10px 1px rgba(0,0,0,0.42);
    }
}

.stretched-link {
    &::after {
        pointer-events: visible;
    }
}

.dont-show-card-main {
    opacity: 0;
    transform: translateY(20px);
}

.bear-svg {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    position: absolute;
    top: 150px;
    left: 0;
    z-index: -10;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.1;
    img {
        width: 100%;
        height: 100%;
    }
}

.attribution {
    width: 100%;
    margin-top: 50px;
    text-align: center;
}