.add-button {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.media {
    height: 100px;
    .thumbnail {
        width: 100px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        .img-panier {
            object-fit: cover;
            height: 100%;
        }
    }
}
