@import "./bootstrap/variable_overrides";
@import "./bootstrap/bootstrap_imports";
@import "./utils/variables";
@import "./layout/header";
@import "./animations/wiggle";
@import "./pages/panier";
@import "./pages/receipt";
@import "./pages/magasin";
@import "./pages/article";


.hidden {
    display: none;
}

.card {
    box-shadow: 1px 2px 10px 1px rgba(0,0,0,0.42);
}

body {
    background-color: $tertiary;
    opacity: 1;
}

a {
    color: $secondary;
    font-weight: 600;
}

h2 {
    font-weight: 600;
}

h1 {
    color: $primary;
    font-weight: 800;
}

.bg-primary {
    background: $primary;
}

#cover {
    display: none;
}